#wrapper {
  background-color: rgba(255, 255, 255, 0.705);
  padding-left: 0px;
  width: 1100px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  position: relative;
  top: 0;
  clear: both;
  opacity: 0.95;
}

html {
  background-color: black;
  /* height: 500vh; */
  width: 100%;
  scroll-behavior: smooth;
  font-size: 20px;
}

.nav {
  width: 100%;
  height: 60px;
  background-color: rgb(78, 77, 77);
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  position: fixed;
  top: 0;
}
.btn-nav {
  width: 40px;
  height: 100%;
  background-image: url("pics/menu.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  padding-right: 10px;
}
.btn-nav:hover {
  opacity: 0.5;
}
.nav p {
  text-align: center;
  font-size: 40px;
  color: white;
  opacity: 0.2;
  position: relative;
  bottom: 40px;
  left: 300px;
}

.nav ul {
  text-align: right;
  margin-top: 20px;
}
.nav ul li {
  display: inline-block;
  font-size: 15px;
}
.nav ul li a {
  text-decoration: none;
  background-color: rgb(136, 214, 243);
  color: black;
  border: 1px solid transparent;
  padding: 5px 10px;
}
.nav ul li a:hover {
  background-color: white;
  color: rgb(58, 57, 57);
  box-shadow: 0px 0px 10px 10px black;
  transition: 1s ease;
}

#nav-about {
  background-color: rgb(168, 2, 2);
  color: lightgreen;
  font-weight: 800;
}
#nav-about:hover {
  background-color: lightgreen;
  color: rgb(168, 2, 2);
}

#about {
  background-color: black;
  margin-top: 50px;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 0;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}
#about img {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  float: left;
  transition: all 0.1s ease-in-out;
}
#about p {
  font-size: 20px;
  color: yellow;
  margin-left: 10px;
  transition: all 0.1s ease-in-out;
}
.click-link {
  color: rgb(88, 198, 235);
}
.seperation-div {
  background-color: rgb(22, 12, 117);
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 30px;
}
div {
  padding: 5px;
}
h1 {
  color: rgb(0, 238, 255);
  text-align: left;
  font-size: 70px;
}
.imgdata1 {
  float: left;
}
.imgdata2 {
  float: right;
}
footer {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(14, 196, 209);
  width: 100%;
  height: 30px;
}
footer p {
  padding: 1px;
  text-align: center;
  color: black;
}
